<!DOCTYPE html>
<html lang="en" id = "next";>
	<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<title>Game Action Screen</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
		}
		
		.box1 {
			border-radius: 25px;
			height: 375px; 
			border: 2px solid lightgray;
			padding: 3px;			
		}
		
/* 		.box2 { 
			width: 110px; 
			height: 85px; 
			border: 1px solid lightgray;
			text-align:center;
			padding: 3px;
		} */
		
		.box3 {
			border-radius: 25px;
			height: 250px; 
			border: 2px solid lightgray;
			background: dimgray;
			padding: 3px;			
		}
		
		.column {
			float: left;
			width: 50%;
			padding: 3px;
		}
		
		.column2 {
			float: left;
			width: 8.33%;
			padding: 3px;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		
		h2 {
			padding: 5px;
			margin: 0px;
		}
		
		h3 {
			padding: 5px;
			margin: 0px;
		}
	</style>
	<div class="btnGroup">
        <span class="timer">
          <span id="counter"></span>
        </span>
      </div>

      <style>
      	.btnGroup{
      		color: white;
      		text-align: center;
      		font-size: 60px;
      	}
      </style>

      <script>
      	function countdown() {
        var seconds = 31;
	var minutes = 0;
        var check = false;
        function tick() {
          var counter = document.getElementById("counter");
          seconds--;
          counter.innerHTML =
            minutes + ":" + (seconds < 10 ? "0" : "") + String(seconds);
	  while(minutes >= 0)
	  {
               if (seconds > 0) {
		    setTimeout(tick, 1000);
		  }
         if (minutes == 0 && seconds == 0 && check == false) {
              minutes = 5;
              seconds = 60;
              check = true;
           }
              else if (seconds == 0 && check == true) {
              minutes--;
              seconds = 60;
      	          }
		  else {
		   		document.getElementById("verifiBtn").innerHTML = `
				<div class="Btn" id="ResendBtn">
					<button type="submit">Resend</button>
				</div>
				`;
			}
		}
	}
}
			</script>

	
	
	
<body style="background-color:black">
		
	<!-- Scores Header -->
	<div class ="row">
		<h2 style="color:white"> &emsp; Current Scores </h1>
	</div>
	
	<!-- Scores Box -->
	<div class="box1" style="color:white">
		<div class ="row">
		
			<div class="column">
				<center>
				
				<!-- Red Team Name -->
				<h2>RED TEAM</h2>
				
				</center>
			</div>
			
			<div class="column">
				<center>
				
				<!-- Green Team Name -->
				<h2>GREEN TEAM</h2>
				
				</center>
			</div>
		</div>

			<div class ="row" style="font-size:115%">
			
				<div class="column" style="color:firebrick">
				
					<div class="column" style="text-align:center">
					<!-- Red Players -->
					<div id = 'red1ID' style="float:left"></div>
					<div id = 'red1Code' style="float:left"></div><br>
					<div id = 'red2ID' style="float:left"></div>
					<div id = 'red2Code' style="float:left"></div><br>
					<div id = 'red3ID' style="float:left"></div>
					<div id = 'red3Code' style="float:left"></div><br>
					<div id = 'red4ID' style="float:left"></div>
					<div id = 'red4Code' style="float:left"></div><br>
					<div id = 'red5ID' style="float:left"></div>
					<div id = 'red5Code' style="float:left"></div><br>
					<div id = 'red6ID' style="float:left"></div>
					<div id = 'red6Code' style="float:left"></div><br>
					<div id = 'red7ID' style="float:left"></div>
					<div id = 'red7Code' style="float:left"></div><br>
					<div id = 'red8ID' style="float:left"></div>
					<div id = 'red8Code' style="float:left"></div><br>
					<div id = 'red9ID' style="float:left"></div>
					<div id = 'red9Code' style="float:left"></div><br>
					<div id = 'red10ID' style="float:left"></div>
					<div id = 'red10Code' style="float:left"></div><br>
					<div id = 'red11ID' style="float:left"></div>
					<div id = 'red11Code' style="float:left"></div><br>
					<div id = 'red12ID' style="float:left"></div>
					<div id = 'red12Code' style="float:left"></div><br>
					<div id = 'red13ID' style="float:left"></div>
					<div id = 'red13Code' style="float:left"></div><br>
					<div id = 'red14ID' style="float:left"></div>
					<div id = 'red14Code' style="float:left"></div><br>
					<div id = 'red15ID' style="float:left"></div>
					<div id = 'red15Code' style="float:left"></div><br>
					</div>
					
					<div class="column" style="text-align:center">
					<!-- Red Player 1 Score -->
					<h3 id = "red1Score"></h3>
					
					<!-- Red Player 2 Score -->
					<h3 id = "red2Score"></h3>
					
					<!-- Add Remaining Player Scores -->
					</div>
					
				</div>
				
				<div class="column" style="color:seagreen">
					
					<div class="column" style="text-align:center">
					<!-- Green Players -->
					<div id = 'green1ID' style="float:left"></div>
					<div id = 'green1Code' style="float:left"></div><br>
					<div id = 'green2ID' style="float:left"></div>
					<div id = 'green2Code' style="float:left"></div><br>
					<div id = 'green3ID' style="float:left"></div>
					<div id = 'green3Code' style="float:left"></div><br>
					<div id = 'green4ID' style="float:left"></div>
					<div id = 'green4Code' style="float:left"></div><br>
					<div id = 'green5ID' style="float:left"></div>
					<div id = 'green5Code' style="float:left"></div><br>
					<div id = 'green6ID' style="float:left"></div>
					<div id = 'green6Code' style="float:left"></div><br>
					<div id = 'green7ID' style="float:left"></div>
					<div id = 'green7Code' style="float:left"></div><br>
					<div id = 'green8ID' style="float:left"></div>
					<div id = 'green8Code' style="float:left"></div><br>
					<div id = 'green9ID' style="float:left"></div>
					<div id = 'green9Code' style="float:left"></div><br>
					<div id = 'green10ID' style="float:left"></div>
					<div id = 'green10Code' style="float:left"></div><br>
					<div id = 'green11ID' style="float:left"></div>
					<div id = 'green11Code' style="float:left"></div><br>
					<div id = 'green12ID' style="float:left"></div>
					<div id = 'green12Code' style="float:left"></div><br>
					<div id = 'green13ID' style="float:left"></div>
					<div id = 'green13Code' style="float:left"></div><br>
					<div id = 'green14ID' style="float:left"></div>
					<div id = 'green14Code' style="float:left"></div><br>
					<div id = 'green15ID' style="float:left"></div>
					<div id = 'green15Code' style="float:left"></div><br>
					</div>
					
					<div class="column" style="text-align:center">
						<!-- Green Player 1 Score -->
						<h3 id = "green3Score"></h3>
						
						<!-- Green Player 2 Score -->
						<h3 id = "green4Score"></h3>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!-- Action Header -->
		<div class ="row">
			<h2 style="color:white"> &emsp; Current Game Action </h2>
		</div>
		
		<!-- Action Box -->
		<div class="box3" style="color:white">
			<center><h3 id="event" style="color:royalblue;"></h3></center>
		</div>

		<script>

	//Set countdown to 30 seconds
	var countDownTime = 30;
	var countDownTime2 = 390;

	//Create variables to show events
	var numEvents = -1;
 	var i = 0;
	var i1 = 0;
	var i2 = 0;
	var i3 = 0;
	var i4 = 0;

	//Find where the countdown is supposed to be
	var event = document.getElementById('event');
	var r1Score = document.getElementById('red1Score');
	var r2Score = document.getElementById('red2Score');
	var g3Score = document.getElementById('green3Score');
	var g4Score = document.getElementById('green4Score');

	//Function for every 1 second to print the count
	var time = setInterval(function() {
		//Print countdown timer if time is positive //all members helped with this part
		if (countDownTime >= 0){
			event.innerHTML = countDownTime + ' seconds remaining until game starts';
			counter.innerHTML = countDownTime2;
			countDownTime = countDownTime - 1;
			// countDownTime2 = countDownTime2 - 1;
		}
		//Tell user game has started
		else if(countDownTime == -1){
			event.innerHTML = "Game Start!";
			countDownTime = countDownTime - 1;
			// countDownTime2 = countDownTime2 - 1;
			numEvents = (eventsLen) * 5;
		}
		else if(numEvents > 0 && (countDownTime2 <= 360)) {
			// countDownTime2 = CountDownTime2 - 1;
			if (i < eventsLen){

				if(String(events[i]) == "1 shot 3") {
					event.innerHTML = "Red player 1 shot Green player 3";
					i1 += 1;
					if(i1 == 5)
						red1Score.innerHTML = "1";
					if(i1 == 10)
						red1Score.innerHTML = "2";
					if(i1 == 15)
						red1Score.innerHTML = "3";
					if(i1 == 20)
						red1Score.innerHTML = "4";
					if(i1 == 25)
						red1Score.innerHTML = "5";
					if(i1 == 30)
						red1Score.innerHTML = "6";
					if(i1 == 35)
						red1Score.innerHTML = "7";
					if(i1 == 40)
						red1Score.innerHTML = "8";
					if(i1 == 45)
						red1Score.innerHTML = "9";
					if(i1 == 50)
						red1Score.innerHTML = "10";
					if(i1 == 55)
						red1Score.innerHTML = "11";
					if(i1 == 60)
						red1Score.innerHTML = "12";
					if(i1 == 65)
						red1Score.innerHTML = "13";
					if(i1 == 70)
						red1Score.innerHTML = "14";
					if(i1 == 75)
						red1Score.innerHTML = "15";
					if(i1 == 80)
						red1Score.innerHTML = "16";
					if(i1 == 85)
						red1Score.innerHTML = "17";
					if(i1 == 90)
						red1Score.innerHTML = "18";
					if(i1 == 95)
						red1Score.innerHTML = "19";
					if(i1 == 100)
						red1Score.innerHTML = "20";
					if(i1 == 105)
						red1Score.innerHTML = "21";
					if(i1 == 110)
						red1Score.innerHTML = "22";
					if(i1 == 115)
						red1Score.innerHTML = "23";
					if(i1 == 120)
						red1Score.innerHTML = "24";
					if(i1 == 125)
						red1Score.innerHTML = "25";
					if(i1 == 130)
						red1Score.innerHTML = "26";
					if(i1 == 135)
						red1Score.innerHTML = "27";
					if(i1 == 140)
						red1Score.innerHTML = "28";
					if(i1 == 145)
						red1Score.innerHTML = "29";
					if(i1 == 150)
						red1Score.innerHTML = "30";

				}
				else if(String(events[i]) == "1 shot 4") {
					event.innerHTML = "Red player 1 shot Green player 4";
					i1 += 1;
					if(i1 == 5)
						red1Score.innerHTML = "1";
					if(i1 == 10)
						red1Score.innerHTML = "2";
					if(i1 == 15)
						red1Score.innerHTML = "3";
					if(i1 == 20)
						red1Score.innerHTML = "4";
					if(i1 == 25)
						red1Score.innerHTML = "5";
					if(i1 == 30)
						red1Score.innerHTML = "6";
					if(i1 == 35)
						red1Score.innerHTML = "7";
					if(i1 == 40)
						red1Score.innerHTML = "8";
					if(i1 == 45)
						red1Score.innerHTML = "9";
					if(i1 == 50)
						red1Score.innerHTML = "10";
					if(i1 == 55)
						red1Score.innerHTML = "11";
					if(i1 == 60)
						red1Score.innerHTML = "12";
					if(i1 == 65)
						red1Score.innerHTML = "13";
					if(i1 == 70)
						red1Score.innerHTML = "14";
					if(i1 == 75)
						red1Score.innerHTML = "15";
					if(i1 == 80)
						red1Score.innerHTML = "16";
					if(i1 == 85)
						red1Score.innerHTML = "17";
					if(i1 == 90)
						red1Score.innerHTML = "18";
					if(i1 == 95)
						red1Score.innerHTML = "19";
					if(i1 == 100)
						red1Score.innerHTML = "20";
					if(i1 == 105)
						red1Score.innerHTML = "21";
					if(i1 == 110)
						red1Score.innerHTML = "22";
					if(i1 == 115)
						red1Score.innerHTML = "23";
					if(i1 == 120)
						red1Score.innerHTML = "24";
					if(i1 == 125)
						red1Score.innerHTML = "25";
					if(i1 == 130)
						red1Score.innerHTML = "26";
					if(i1 == 135)
						red1Score.innerHTML = "27";
					if(i1 == 140)
						red1Score.innerHTML = "28";
					if(i1 == 145)
						red1Score.innerHTML = "29";
					if(i1 == 150)
						red1Score.innerHTML = "30";
				}
				else if(String(events[i]) == "2 shot 3") {
					event.innerHTML = "Red player 2 shot Green player 3";
					i2 += 1;
					if(i2 == 5)
						red2Score.innerHTML = "1";
					if(i2 == 10)
						red2Score.innerHTML = "2";
					if(i2 == 15)
						red2Score.innerHTML = "3";
					if(i2 == 20)
						red2Score.innerHTML = "4";
					if(i2 == 25)
						red2Score.innerHTML = "5";
					if(i2 == 30)
						red2Score.innerHTML = "6";
					if(i2 == 35)
						red2Score.innerHTML = "7";
					if(i2 == 40)
						red2Score.innerHTML = "8";
					if(i2 == 45)
						red2Score.innerHTML = "9";
					if(i2 == 50)
						red2Score.innerHTML = "10";
					if(i2 == 55)
						red2Score.innerHTML = "11";
					if(i2 == 60)
						red2Score.innerHTML = "12";
					if(i2 == 65)
						red2Score.innerHTML = "13";
					if(i2 == 70)
						red2Score.innerHTML = "14";
					if(i2 == 75)
						red2Score.innerHTML = "15";
					if(i2 == 80)
						red2Score.innerHTML = "16";
					if(i2 == 85)
						red2Score.innerHTML = "17";
					if(i2 == 90)
						red2Score.innerHTML = "18";
					if(i2 == 95)
						red2Score.innerHTML = "19";
					if(i2 == 100)
						red2Score.innerHTML = "20";
					if(i2 == 105)
						red2Score.innerHTML = "21";
					if(i2 == 110)
						red2Score.innerHTML = "22";
					if(i2 == 115)
						red2Score.innerHTML = "23";
					if(i2 == 120)
						red2Score.innerHTML = "24";
					if(i2 == 125)
						red2Score.innerHTML = "25";
					if(i2 == 130)
						red2Score.innerHTML = "26";
					if(i2 == 135)
						red2Score.innerHTML = "27";
					if(i2 == 140)
						red2Score.innerHTML = "28";
					if(i2 == 145)
						red2Score.innerHTML = "29";
					if(i2 == 150)
						red2Score.innerHTML = "30";
				}
				else if(String(events[i]) == "2 shot 4") {
					event.innerHTML = "Red player 2 shot Green player 4";
					i2 += 1;
					if(i2 == 5)
						red2Score.innerHTML = "1";
					if(i2 == 10)
						red2Score.innerHTML = "2";
					if(i2 == 15)
						red2Score.innerHTML = "3";
					if(i2 == 20)
						red2Score.innerHTML = "4";
					if(i2 == 25)
						red2Score.innerHTML = "5";
					if(i2 == 30)
						red2Score.innerHTML = "6";
					if(i2 == 35)
						red2Score.innerHTML = "7";
					if(i2 == 40)
						red2Score.innerHTML = "8";
					if(i2 == 45)
						red2Score.innerHTML = "9";
					if(i2 == 50)
						red2Score.innerHTML = "10";
					if(i2 == 55)
						red2Score.innerHTML = "11";
					if(i2 == 60)
						red2Score.innerHTML = "12";
					if(i2 == 65)
						red2Score.innerHTML = "13";
					if(i2 == 70)
						red2Score.innerHTML = "14";
					if(i2 == 75)
						red2Score.innerHTML = "15";
					if(i2 == 80)
						red2Score.innerHTML = "16";
					if(i2 == 85)
						red2Score.innerHTML = "17";
					if(i2 == 90)
						red2Score.innerHTML = "18";
					if(i2 == 95)
						red2Score.innerHTML = "19";
					if(i2 == 100)
						red2Score.innerHTML = "20";
					if(i2 == 105)
						red2Score.innerHTML = "21";
					if(i2 == 110)
						red2Score.innerHTML = "22";
					if(i2 == 115)
						red2Score.innerHTML = "23";
					if(i2 == 120)
						red2Score.innerHTML = "24";
					if(i2 == 125)
						red2Score.innerHTML = "25";
					if(i2 == 130)
						red2Score.innerHTML = "26";
					if(i2 == 135)
						red2Score.innerHTML = "27";
					if(i2 == 140)
						red2Score.innerHTML = "28";
					if(i2 == 145)
						red2Score.innerHTML = "29";
					if(i2 == 150)
						red2Score.innerHTML = "30";
				}
				else if(String(events[i]) == "3 shot 1") {
					event.innerHTML = "Green player 3 shot Red player 1";
					i3 += 1;
					if(i3 == 5)
						green3Score.innerHTML = "1";
					if(i3 == 10)
						green3Score.innerHTML = "2";
					if(i3 == 15)
						green3Score.innerHTML = "3";
					if(i3 == 20)
						green3Score.innerHTML = "4";
					if(i3 == 25)
						green3Score.innerHTML = "5";
					if(i3 == 30)
						green3Score.innerHTML = "6";
					if(i3 == 35)
						green3Score.innerHTML = "7";
					if(i3 == 40)
						green3Score.innerHTML = "8";
					if(i3 == 45)
						green3Score.innerHTML = "9";
					if(i3 == 50)
						green3Score.innerHTML = "10";
					if(i3 == 55)
						green3Score.innerHTML = "11";
					if(i3 == 60)
						green3Score.innerHTML = "12";
					if(i3 == 65)
						green3Score.innerHTML = "13";
					if(i3 == 70)
						green3Score.innerHTML = "14";
					if(i3 == 75)
						green3Score.innerHTML = "15";
					if(i3 == 80)
						green3Score.innerHTML = "16";
					if(i3 == 85)
						green3Score.innerHTML = "17";
					if(i3 == 90)
						green3Score.innerHTML = "18";
					if(i3 == 95)
						green3Score.innerHTML = "19";
					if(i3 == 100)
						green3Score.innerHTML = "20";
					if(i3 == 105)
						green3Score.innerHTML = "21";
					if(i3 == 110)
						green3Score.innerHTML = "22";
					if(i3 == 115)
						green3Score.innerHTML = "23";
					if(i3 == 120)
						green3Score.innerHTML = "24";
					if(i3 == 125)
						green3Score.innerHTML = "25";
					if(i3 == 130)
						green3Score.innerHTML = "26";
					if(i3 == 135)
						green3Score.innerHTML = "27";
					if(i3 == 140)
						green3Score.innerHTML = "28";
					if(i3 == 145)
						green3Score.innerHTML = "29";
					if(i3 == 150)
						green3Score.innerHTML = "30";
				}
				else if(String(events[i]) == "3 shot 2") {
					event.innerHTML = "Green player 3 shot Red player 2";
					i3 += 1;
					if(i3 == 5)
						green3Score.innerHTML = "1";
					if(i3 == 10)
						green3Score.innerHTML = "2";
					if(i3 == 15)
						green3Score.innerHTML = "3";
					if(i3 == 20)
						green3Score.innerHTML = "4";
					if(i3 == 25)
						green3Score.innerHTML = "5";
					if(i3 == 30)
						green3Score.innerHTML = "6";
					if(i3 == 35)
						green3Score.innerHTML = "7";
					if(i3 == 40)
						green3Score.innerHTML = "8";
					if(i3 == 45)
						green3Score.innerHTML = "9";
					if(i3 == 50)
						green3Score.innerHTML = "10";
					if(i3 == 55)
						green3Score.innerHTML = "11";
					if(i3 == 60)
						green3Score.innerHTML = "12";
					if(i3 == 65)
						green3Score.innerHTML = "13";
					if(i3 == 70)
						green3Score.innerHTML = "14";
					if(i3 == 75)
						green3Score.innerHTML = "15";
					if(i3 == 80)
						green3Score.innerHTML = "16";
					if(i3 == 85)
						green3Score.innerHTML = "17";
					if(i3 == 90)
						green3Score.innerHTML = "18";
					if(i3 == 95)
						green3Score.innerHTML = "19";
					if(i3 == 100)
						green3Score.innerHTML = "20";
					if(i3 == 105)
						green3Score.innerHTML = "21";
					if(i3 == 110)
						green3Score.innerHTML = "22";
					if(i3 == 115)
						green3Score.innerHTML = "23";
					if(i3 == 120)
						green3Score.innerHTML = "24";
					if(i3 == 125)
						green3Score.innerHTML = "25";
					if(i3 == 130)
						green3Score.innerHTML = "26";
					if(i3 == 135)
						green3Score.innerHTML = "27";
					if(i3 == 140)
						green3Score.innerHTML = "28";
					if(i3 == 145)
						green3Score.innerHTML = "29";
					if(i3 == 150)
						green3Score.innerHTML = "30";
				}
				else if(String(events[i]) == "4 shot 1") {
					event.innerHTML = "Green player 4 shot Red player 1";
					i4 += 1;
					if(i4 == 5)
						green4Score.innerHTML = "1";
					if(i4 == 10)
						green4Score.innerHTML = "2";
					if(i4 == 15)
						green4Score.innerHTML = "3";
					if(i4 == 20)
						green4Score.innerHTML = "4";
					if(i4 == 25)
						green4Score.innerHTML = "5";
					if(i4 == 30)
						green4Score.innerHTML = "6";
					if(i4 == 35)
						green4Score.innerHTML = "7";
					if(i4 == 40)
						green4Score.innerHTML = "8";
					if(i4 == 45)
						green4Score.innerHTML = "9";
					if(i4 == 50)
						green4Score.innerHTML = "10";
					if(i4 == 55)
						green4Score.innerHTML = "11";
					if(i4 == 60)
						green4Score.innerHTML = "12";
					if(i4 == 65)
						green4Score.innerHTML = "13";
					if(i4 == 70)
						green4Score.innerHTML = "14";
					if(i4 == 75)
						green4Score.innerHTML = "15";
					if(i4 == 80)
						green4Score.innerHTML = "16";
					if(i4 == 85)
						green4Score.innerHTML = "17";
					if(i4 == 90)
						green4Score.innerHTML = "18";
					if(i4 == 95)
						green4Score.innerHTML = "19";
					if(i4 == 100)
						green4Score.innerHTML = "20";
					if(i4 == 105)
						green4Score.innerHTML = "21";
					if(i4 == 110)
						green4Score.innerHTML = "22";
					if(i4 == 115)
						green4Score.innerHTML = "23";
					if(i4 == 120)
						green4Score.innerHTML = "24";
					if(i4 == 125)
						green4Score.innerHTML = "25";
					if(i4 == 130)
						green4Score.innerHTML = "26";
					if(i4 == 135)
						green4Score.innerHTML = "27";
					if(i4 == 140)
						green4Score.innerHTML = "28";
					if(i4 == 145)
						green4Score.innerHTML = "29";
					if(i4 == 150)
						green4Score.innerHTML = "30";
				}
				else if(String(events[i]) == "4 shot 2") {
					event.innerHTML = "Green player 4 shot Red player 2";
					i4 += 1;
					if(i4 == 5)
						green4Score.innerHTML = "1";
					if(i4 == 10)
						green4Score.innerHTML = "2";
					if(i4 == 15)
						green4Score.innerHTML = "3";
					if(i4 == 20)
						green4Score.innerHTML = "4";
					if(i4 == 25)
						green4Score.innerHTML = "5";
					if(i4 == 30)
						green4Score.innerHTML = "6";
					if(i4 == 35)
						green4Score.innerHTML = "7";
					if(i4 == 40)
						green4Score.innerHTML = "8";
					if(i4 == 45)
						green4Score.innerHTML = "9";
					if(i4 == 50)
						green4Score.innerHTML = "10";
					if(i4 == 55)
						green4Score.innerHTML = "11";
					if(i4 == 60)
						green4Score.innerHTML = "12";
					if(i4 == 65)
						green4Score.innerHTML = "13";
					if(i4 == 70)
						green4Score.innerHTML = "14";
					if(i4 == 75)
						green4Score.innerHTML = "15";
					if(i4 == 80)
						green4Score.innerHTML = "16";
					if(i4 == 85)
						green4Score.innerHTML = "17";
					if(i4 == 90)
						green4Score.innerHTML = "18";
					if(i4 == 95)
						green4Score.innerHTML = "19";
					if(i4 == 100)
						green4Score.innerHTML = "20";
					if(i4 == 105)
						green4Score.innerHTML = "21";
					if(i4 == 110)
						green4Score.innerHTML = "22";
					if(i4 == 115)
						green4Score.innerHTML = "23";
					if(i4 == 120)
						green4Score.innerHTML = "24";
					if(i4 == 125)
						green4Score.innerHTML = "25";
					if(i4 == 130)
						green4Score.innerHTML = "26";
					if(i4 == 135)
						green4Score.innerHTML = "27";
					if(i4 == 140)
						green4Score.innerHTML = "28";
					if(i4 == 145)
						green4Score.innerHTML = "29";
					if(i4 == 150)
						green4Score.innerHTML = "30";
				}
				numEvents -= 1;
				testVar = numEvents % 5;
				if(testVar == 0){
					i += 1;
				}
			}
		}
		else{
			red_points = red1Score + red2Score;
			green_points = green3Score + green4Score;
			final_score = "Red points: " + red_points + " vs  " + "Green points: " + green_points;
			event.innerHTML = final_score;
			countDownTime = countDownTime - 1;
			// countDownTime2 = countDownTime2 - 1;
		}
		countDownTime2 = countDownTime2 - 1;
	}, 1000);

	  setTimeout(function loadPlayers() {
		request = new XMLHttpRequest();

		request.open('GET', '/getPlayers',true);

		request.responseType = 'json';

		request.send();

		request.onload = function(){
			let requestObj = request.response;

			var red1ID = requestObj.red1ID;
			if (red1ID != null)
				document.getElementById('red1ID').innerHTML = red1ID;

			var red2ID = requestObj.red2ID;
			if (red2ID != null)
				document.getElementById('red2ID').innerHTML = red2ID;

			var red1Code = requestObj.red1Code;
			if (red1Code != null)
				document.getElementById('red1Code').innerHTML = red1Code;

			var red2Code = requestObj.red2Code;
			if (red2Code != null)
				document.getElementById('red2Code').innerHTML = red2Code;

			var green1ID = requestObj.green1ID;
			if (green1ID != null)
				document.getElementById('green1ID').innerHTML = green1ID;

			var green2ID = requestObj.green2ID;
			if (green2ID != null)
				document.getElementById('green2ID').innerHTML = green2ID;

			var green1Code = requestObj.green1Code;
			if (green1Code != null)
				document.getElementById('green1Code').innerHTML = green1Code;

			var green2Code = requestObj.green2Code;
			if (green2Code != null)
				document.getElementById('green2Code').innerHTML = green2Code;
			
				var ListOfEvents = requestObj.events;
				tempLen = ListOfEvents.length;
				ListOfEvents = ListOfEvents.slice(2);
				ListOfEvents = ListOfEvents.substr(0, tempLen - 1);
				events = ListOfEvents.split(" , ");
				eventsLen = events.length;
				console.log(events)

				redPoints = requestObj.redPoints;
				let redLen = redPoints.length;
				redPoints = redPoints.substr(0, redLen - 1);
				redPoints = redPoints.slice(2);

				greenPoints = requestObj.greenPoints;
				let greenLen = greenPoints.length;
				greenPoints = greenPoints.substr(0, greenLen - 1);
				greenPoints = greenPoints.slice(2);
		}
	  }, 5000);

      </script>

			
		
	
	</body>
</html>
