<!DOCTYPE html>
<html lang="en" id = "next";>
	<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<title>Game Action Screen</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
		}
		
		.box1 {
			border-radius: 25px;
			height: 375px; 
			border: 2px solid lightgray;
			padding: 3px;			
		}
		
/* 		.box2 { 
			width: 110px; 
			height: 85px; 
			border: 1px solid lightgray;
			text-align:center;
			padding: 3px;
		} */
		
		.box3 {
			border-radius: 25px;
			height: 250px; 
			border: 2px solid lightgray;
			background: dimgray;
			padding: 3px;			
		}
		
		.column {
			float: left;
			width: 50%;
			padding: 3px;
		}
		
		.column2 {
			float: left;
			width: 8.33%;
			padding: 3px;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		
		h2 {
			padding: 5px;
			margin: 0px;
		}
		
		h3 {
			padding: 5px;
			margin: 0px;
		}
	</style>
	<div class="btnGroup">
        <span class="timer">
          <span id="counter"></span>
        </span>
      </div>

      <style>
      	.btnGroup{
      		color: white;
      		text-align: center;
      		font-size: 60px;
      	}
      </style>

      <script>
      	function countdown() {
        var seconds = 31;
	var minutes = 0;
        var check = false;
        function tick() {
          var counter = document.getElementById("counter");
          seconds--;
          counter.innerHTML =
            minutes + ":" + (seconds < 10 ? "0" : "") + String(seconds);
	  while(minutes >= 0)
	  {
               if (seconds > 0) {
		    setTimeout(tick, 1000);
		  }
         if (minutes == 0 && seconds == 0 && check == false) {
              minutes = 5;
              seconds = 60;
              check = true;
           }
              else if (seconds == 0 && check == true) {
              minutes--;
              seconds = 60;
      	          }
		  else {
		   		document.getElementById("verifiBtn").innerHTML = `
				<div class="Btn" id="ResendBtn">
					<button type="submit">Resend</button>
				</div>
				`;
			}
		}
	}
}
			</script>

	
	
	
<body style="background-color:black">
		
	<!-- Scores Header -->
	<div class ="row">
		<h2 style="color:white"> &emsp; Current Scores </h1>
	</div>
	
	<!-- Scores Box -->
	<div class="box1" style="color:white">
		<div class ="row">
		
			<div class="column">
				<center>
				
				<!-- Red Team Name -->
				<h2>RED TEAM</h2>
				
				</center>
			</div>
			
			<div class="column">
				<center>
				
				<!-- Green Team Name -->
				<h2>GREEN TEAM</h2>
				
				</center>
			</div>
		</div>

			<div class ="row" style="font-size:115%">
			
				<div class="column" style="color:firebrick">
				
					<div class="column" style="text-align:center">
					<!-- Red Players -->
					<div id = 'red1ID' style="float:left"></div>
					<div id = 'red1Code' style="float:left"></div><br>
					<div id = 'red2ID' style="float:left"></div>
					<div id = 'red2Code' style="float:left"></div><br>
					</div>
					
					<div class="column" style="text-align:center">
					<!-- Red Player 1 Score -->
					<h3 id = "red1Score"></h3>
					
					<!-- Red Player 2 Score -->
					<h3 id = "red2Score"></h3>
					
					<br><br><br><br><br><br><br><br><br><br>
					
					<!-- Red Team Score -->
					<h3 id = "redTotal"></h3>
					</div>
					
				</div>
				
				<div class="column" style="color:seagreen">
					
					<div class="column" style="text-align:center">
					<!-- Green Players -->
					<div id = 'green1ID' style="float:left"></div>
					<div id = 'green1Code' style="float:left"></div><br>
					<div id = 'green2ID' style="float:left"></div>
					<div id = 'green2Code' style="float:left"></div><br>
					</div>
					
					<div class="column" style="text-align:center">
						<!-- Green Player 1 Score -->
						<h3 id = "green3Score"></h3>
						
						<!-- Green Player 2 Score -->
						<h3 id = "green4Score"></h3>
						
						<br><br><br><br><br><br><br><br><br><br>
					
						<!-- Green Team Score -->
						<h3 id = "greenTotal"></h3>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!-- Action Header -->
		<div class ="row">
			<h2 style="color:white"> &emsp; Current Game Action </h2>
		</div>
		
		<!-- Action Box -->
		<div class="box3" style="color:white">
			<center><h3 id="event1" style="color:royalblue;"></h3></center>
			<center><h3 id="event2" style="color:royalblue;"></h3></center>
			<center><h3 id="event3" style="color:royalblue;"></h3></center>
			<center><h3 id="event4" style="color:royalblue;"></h3></center>
			<center><h3 id="event5" style="color:royalblue;"></h3></center>
			<center><h3 id="event6" style="color:royalblue;"></h3></center>
			<center><h3 id="event7" style="color:royalblue;"></h3></center>
		</div>

		<script>

	var countDownTime = 10;
	var countDownTime2 = 370;

	var numEvents = -1;
	var a = 0;
 	var i = 0;
	var i1 = 0;
	var i2 = 0;
	var i3 = 0;
	var i4 = 0;
	var i5 = 0;
	var i6 = 0;

	var event1 = document.getElementById('event1');
	var event2 = document.getElementById('event2');
	var event3 = document.getElementById('event3');
	var event4 = document.getElementById('event4');
	var event5 = document.getElementById('event5');
	var event6 = document.getElementById('event6');
	var event7 = document.getElementById('event7');

	var time = setInterval(function() {
		if (countDownTime >= 0){
			event1.innerHTML = countDownTime + ' seconds remaining until game starts';
			countDownTime = countDownTime - 1;
		}
		else if(countDownTime == -1){
			event1.innerHTML = "Game Start!";
			countDownTime = countDownTime - 1;
			numEvents = (eventsLen) * 5;
		}
		else if(numEvents > 0 && (countDownTime2 <= 360)) {
			if (i < eventsLen){

				if(String(events[i]) == "1 shot 3") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Red player 1 shot Green player 3";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Red player 1 shot Green player 3";
					}

					i1 += 1;
					if(i1 == 5)
						red1Score.innerHTML = "1";
					if(i1 == 10)
						red1Score.innerHTML = "2";
					if(i1 == 15)
						red1Score.innerHTML = "3";
					if(i1 == 20)
						red1Score.innerHTML = "4";
					if(i1 == 25)
						red1Score.innerHTML = "5";
					if(i1 == 30)
						red1Score.innerHTML = "6";
					if(i1 == 35)
						red1Score.innerHTML = "7";
					if(i1 == 40)
						red1Score.innerHTML = "8";
					if(i1 == 45)
						red1Score.innerHTML = "9";
					if(i1 == 50)
						red1Score.innerHTML = "10";
					if(i1 == 55)
						red1Score.innerHTML = "11";
					if(i1 == 60)
						red1Score.innerHTML = "12";
					if(i1 == 65)
						red1Score.innerHTML = "13";
					if(i1 == 70)
						red1Score.innerHTML = "14";
					if(i1 == 75)
						red1Score.innerHTML = "15";
					if(i1 == 80)
						red1Score.innerHTML = "16";
					if(i1 == 85)
						red1Score.innerHTML = "17";
					if(i1 == 90)
						red1Score.innerHTML = "18";
					if(i1 == 95)
						red1Score.innerHTML = "19";
					if(i1 == 100)
						red1Score.innerHTML = "20";
					if(i1 == 105)
						red1Score.innerHTML = "21";
					if(i1 == 110)
						red1Score.innerHTML = "22";
					if(i1 == 115)
						red1Score.innerHTML = "23";
					if(i1 == 120)
						red1Score.innerHTML = "24";
					if(i1 == 125)
						red1Score.innerHTML = "25";
					if(i1 == 130)
						red1Score.innerHTML = "26";
					if(i1 == 135)
						red1Score.innerHTML = "27";
					if(i1 == 140)
						red1Score.innerHTML = "28";
					if(i1 == 145)
						red1Score.innerHTML = "29";
					if(i1 == 150)
						red1Score.innerHTML = "30";

				}
				else if(String(events[i]) == "1 shot 4") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Red player 1 shot Green player 4";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Red player 1 shot Green player 4";
					}
					i1 += 1;
					if(i1 == 5)
						red1Score.innerHTML = "1";
					if(i1 == 10)
						red1Score.innerHTML = "2";
					if(i1 == 15)
						red1Score.innerHTML = "3";
					if(i1 == 20)
						red1Score.innerHTML = "4";
					if(i1 == 25)
						red1Score.innerHTML = "5";
					if(i1 == 30)
						red1Score.innerHTML = "6";
					if(i1 == 35)
						red1Score.innerHTML = "7";
					if(i1 == 40)
						red1Score.innerHTML = "8";
					if(i1 == 45)
						red1Score.innerHTML = "9";
					if(i1 == 50)
						red1Score.innerHTML = "10";
					if(i1 == 55)
						red1Score.innerHTML = "11";
					if(i1 == 60)
						red1Score.innerHTML = "12";
					if(i1 == 65)
						red1Score.innerHTML = "13";
					if(i1 == 70)
						red1Score.innerHTML = "14";
					if(i1 == 75)
						red1Score.innerHTML = "15";
					if(i1 == 80)
						red1Score.innerHTML = "16";
					if(i1 == 85)
						red1Score.innerHTML = "17";
					if(i1 == 90)
						red1Score.innerHTML = "18";
					if(i1 == 95)
						red1Score.innerHTML = "19";
					if(i1 == 100)
						red1Score.innerHTML = "20";
					if(i1 == 105)
						red1Score.innerHTML = "21";
					if(i1 == 110)
						red1Score.innerHTML = "22";
					if(i1 == 115)
						red1Score.innerHTML = "23";
					if(i1 == 120)
						red1Score.innerHTML = "24";
					if(i1 == 125)
						red1Score.innerHTML = "25";
					if(i1 == 130)
						red1Score.innerHTML = "26";
					if(i1 == 135)
						red1Score.innerHTML = "27";
					if(i1 == 140)
						red1Score.innerHTML = "28";
					if(i1 == 145)
						red1Score.innerHTML = "29";
					if(i1 == 150)
						red1Score.innerHTML = "30";
				}
				else if(String(events[i]) == "2 shot 3") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Red player 2 shot Green player 3";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Red player 2 shot Green player 3";
					}
					i2 += 1;
					if(i2 == 5)
						red2Score.innerHTML = "1";
					if(i2 == 10)
						red2Score.innerHTML = "2";
					if(i2 == 15)
						red2Score.innerHTML = "3";
					if(i2 == 20)
						red2Score.innerHTML = "4";
					if(i2 == 25)
						red2Score.innerHTML = "5";
					if(i2 == 30)
						red2Score.innerHTML = "6";
					if(i2 == 35)
						red2Score.innerHTML = "7";
					if(i2 == 40)
						red2Score.innerHTML = "8";
					if(i2 == 45)
						red2Score.innerHTML = "9";
					if(i2 == 50)
						red2Score.innerHTML = "10";
					if(i2 == 55)
						red2Score.innerHTML = "11";
					if(i2 == 60)
						red2Score.innerHTML = "12";
					if(i2 == 65)
						red2Score.innerHTML = "13";
					if(i2 == 70)
						red2Score.innerHTML = "14";
					if(i2 == 75)
						red2Score.innerHTML = "15";
					if(i2 == 80)
						red2Score.innerHTML = "16";
					if(i2 == 85)
						red2Score.innerHTML = "17";
					if(i2 == 90)
						red2Score.innerHTML = "18";
					if(i2 == 95)
						red2Score.innerHTML = "19";
					if(i2 == 100)
						red2Score.innerHTML = "20";
					if(i2 == 105)
						red2Score.innerHTML = "21";
					if(i2 == 110)
						red2Score.innerHTML = "22";
					if(i2 == 115)
						red2Score.innerHTML = "23";
					if(i2 == 120)
						red2Score.innerHTML = "24";
					if(i2 == 125)
						red2Score.innerHTML = "25";
					if(i2 == 130)
						red2Score.innerHTML = "26";
					if(i2 == 135)
						red2Score.innerHTML = "27";
					if(i2 == 140)
						red2Score.innerHTML = "28";
					if(i2 == 145)
						red2Score.innerHTML = "29";
					if(i2 == 150)
						red2Score.innerHTML = "30";
				}
				else if(String(events[i]) == "2 shot 4") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Red player 2 shot Green player 4";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Red player 2 shot Green player 4";
					}
				
					i2 += 1;
					if(i2 == 5)
						red2Score.innerHTML = "1";
					if(i2 == 10)
						red2Score.innerHTML = "2";
					if(i2 == 15)
						red2Score.innerHTML = "3";
					if(i2 == 20)
						red2Score.innerHTML = "4";
					if(i2 == 25)
						red2Score.innerHTML = "5";
					if(i2 == 30)
						red2Score.innerHTML = "6";
					if(i2 == 35)
						red2Score.innerHTML = "7";
					if(i2 == 40)
						red2Score.innerHTML = "8";
					if(i2 == 45)
						red2Score.innerHTML = "9";
					if(i2 == 50)
						red2Score.innerHTML = "10";
					if(i2 == 55)
						red2Score.innerHTML = "11";
					if(i2 == 60)
						red2Score.innerHTML = "12";
					if(i2 == 65)
						red2Score.innerHTML = "13";
					if(i2 == 70)
						red2Score.innerHTML = "14";
					if(i2 == 75)
						red2Score.innerHTML = "15";
					if(i2 == 80)
						red2Score.innerHTML = "16";
					if(i2 == 85)
						red2Score.innerHTML = "17";
					if(i2 == 90)
						red2Score.innerHTML = "18";
					if(i2 == 95)
						red2Score.innerHTML = "19";
					if(i2 == 100)
						red2Score.innerHTML = "20";
					if(i2 == 105)
						red2Score.innerHTML = "21";
					if(i2 == 110)
						red2Score.innerHTML = "22";
					if(i2 == 115)
						red2Score.innerHTML = "23";
					if(i2 == 120)
						red2Score.innerHTML = "24";
					if(i2 == 125)
						red2Score.innerHTML = "25";
					if(i2 == 130)
						red2Score.innerHTML = "26";
					if(i2 == 135)
						red2Score.innerHTML = "27";
					if(i2 == 140)
						red2Score.innerHTML = "28";
					if(i2 == 145)
						red2Score.innerHTML = "29";
					if(i2 == 150)
						red2Score.innerHTML = "30";
				}
				else if(String(events[i]) == "3 shot 1") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Green player 3 shot Red player 1";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Green player 3 shot Red player 1";
					}
					i3 += 1;
					if(i3 == 5)
						green3Score.innerHTML = "1";
					if(i3 == 10)
						green3Score.innerHTML = "2";
					if(i3 == 15)
						green3Score.innerHTML = "3";
					if(i3 == 20)
						green3Score.innerHTML = "4";
					if(i3 == 25)
						green3Score.innerHTML = "5";
					if(i3 == 30)
						green3Score.innerHTML = "6";
					if(i3 == 35)
						green3Score.innerHTML = "7";
					if(i3 == 40)
						green3Score.innerHTML = "8";
					if(i3 == 45)
						green3Score.innerHTML = "9";
					if(i3 == 50)
						green3Score.innerHTML = "10";
					if(i3 == 55)
						green3Score.innerHTML = "11";
					if(i3 == 60)
						green3Score.innerHTML = "12";
					if(i3 == 65)
						green3Score.innerHTML = "13";
					if(i3 == 70)
						green3Score.innerHTML = "14";
					if(i3 == 75)
						green3Score.innerHTML = "15";
					if(i3 == 80)
						green3Score.innerHTML = "16";
					if(i3 == 85)
						green3Score.innerHTML = "17";
					if(i3 == 90)
						green3Score.innerHTML = "18";
					if(i3 == 95)
						green3Score.innerHTML = "19";
					if(i3 == 100)
						green3Score.innerHTML = "20";
					if(i3 == 105)
						green3Score.innerHTML = "21";
					if(i3 == 110)
						green3Score.innerHTML = "22";
					if(i3 == 115)
						green3Score.innerHTML = "23";
					if(i3 == 120)
						green3Score.innerHTML = "24";
					if(i3 == 125)
						green3Score.innerHTML = "25";
					if(i3 == 130)
						green3Score.innerHTML = "26";
					if(i3 == 135)
						green3Score.innerHTML = "27";
					if(i3 == 140)
						green3Score.innerHTML = "28";
					if(i3 == 145)
						green3Score.innerHTML = "29";
					if(i3 == 150)
						green3Score.innerHTML = "30";
				}
				else if(String(events[i]) == "3 shot 2") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Green player 3 shot Red player 2";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Green player 3 shot Red player 2";
					}					
					i3 += 1;
					if(i3 == 5)
						green3Score.innerHTML = "1";
					if(i3 == 10)
						green3Score.innerHTML = "2";
					if(i3 == 15)
						green3Score.innerHTML = "3";
					if(i3 == 20)
						green3Score.innerHTML = "4";
					if(i3 == 25)
						green3Score.innerHTML = "5";
					if(i3 == 30)
						green3Score.innerHTML = "6";
					if(i3 == 35)
						green3Score.innerHTML = "7";
					if(i3 == 40)
						green3Score.innerHTML = "8";
					if(i3 == 45)
						green3Score.innerHTML = "9";
					if(i3 == 50)
						green3Score.innerHTML = "10";
					if(i3 == 55)
						green3Score.innerHTML = "11";
					if(i3 == 60)
						green3Score.innerHTML = "12";
					if(i3 == 65)
						green3Score.innerHTML = "13";
					if(i3 == 70)
						green3Score.innerHTML = "14";
					if(i3 == 75)
						green3Score.innerHTML = "15";
					if(i3 == 80)
						green3Score.innerHTML = "16";
					if(i3 == 85)
						green3Score.innerHTML = "17";
					if(i3 == 90)
						green3Score.innerHTML = "18";
					if(i3 == 95)
						green3Score.innerHTML = "19";
					if(i3 == 100)
						green3Score.innerHTML = "20";
					if(i3 == 105)
						green3Score.innerHTML = "21";
					if(i3 == 110)
						green3Score.innerHTML = "22";
					if(i3 == 115)
						green3Score.innerHTML = "23";
					if(i3 == 120)
						green3Score.innerHTML = "24";
					if(i3 == 125)
						green3Score.innerHTML = "25";
					if(i3 == 130)
						green3Score.innerHTML = "26";
					if(i3 == 135)
						green3Score.innerHTML = "27";
					if(i3 == 140)
						green3Score.innerHTML = "28";
					if(i3 == 145)
						green3Score.innerHTML = "29";
					if(i3 == 150)
						green3Score.innerHTML = "30";
				}
				else if(String(events[i]) == "4 shot 1") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Green player 4 shot Red player 1";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Green player 4 shot Red player 1";
					}
					i4 += 1;
					if(i4 == 5)
						green4Score.innerHTML = "1";
					if(i4 == 10)
						green4Score.innerHTML = "2";
					if(i4 == 15)
						green4Score.innerHTML = "3";
					if(i4 == 20)
						green4Score.innerHTML = "4";
					if(i4 == 25)
						green4Score.innerHTML = "5";
					if(i4 == 30)
						green4Score.innerHTML = "6";
					if(i4 == 35)
						green4Score.innerHTML = "7";
					if(i4 == 40)
						green4Score.innerHTML = "8";
					if(i4 == 45)
						green4Score.innerHTML = "9";
					if(i4 == 50)
						green4Score.innerHTML = "10";
					if(i4 == 55)
						green4Score.innerHTML = "11";
					if(i4 == 60)
						green4Score.innerHTML = "12";
					if(i4 == 65)
						green4Score.innerHTML = "13";
					if(i4 == 70)
						green4Score.innerHTML = "14";
					if(i4 == 75)
						green4Score.innerHTML = "15";
					if(i4 == 80)
						green4Score.innerHTML = "16";
					if(i4 == 85)
						green4Score.innerHTML = "17";
					if(i4 == 90)
						green4Score.innerHTML = "18";
					if(i4 == 95)
						green4Score.innerHTML = "19";
					if(i4 == 100)
						green4Score.innerHTML = "20";
					if(i4 == 105)
						green4Score.innerHTML = "21";
					if(i4 == 110)
						green4Score.innerHTML = "22";
					if(i4 == 115)
						green4Score.innerHTML = "23";
					if(i4 == 120)
						green4Score.innerHTML = "24";
					if(i4 == 125)
						green4Score.innerHTML = "25";
					if(i4 == 130)
						green4Score.innerHTML = "26";
					if(i4 == 135)
						green4Score.innerHTML = "27";
					if(i4 == 140)
						green4Score.innerHTML = "28";
					if(i4 == 145)
						green4Score.innerHTML = "29";
					if(i4 == 150)
						green4Score.innerHTML = "30";
				}
				else if(String(events[i]) == "4 shot 2") {
					if(event1.innerHTML == "")
					{
						if(a == i) {
							event1.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else if(event2.innerHTML == "")
					{
						if(a == i) {
							event2.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else if(event3.innerHTML == "")
					{
						if(a == i) {
							event3.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else if(event4.innerHTML == "")
					{
						if(a == i) {
							event4.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else if(event5.innerHTML == "")
					{
						if(a == i) {
							event5.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else if(event6.innerHTML == "")
					{
						if(a == i) {
							event6.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else if(event7.innerHTML == "")
					{
						if(a == i) {
							event7.innerHTML = "Green player 4 shot Red player 2";
							a++;
						}
					}
					else{
						event1.innerHTML = "";
						event2.innerHTML = "";
						event3.innerHTML = "";
						event4.innerHTML = "";
						event5.innerHTML = "";
						event6.innerHTML = "";
						event7.innerHTML = "";	
						event1.innerHTML = "Green player 4 shot Red player 2";
					}
					i4 += 1;
					if(i4 == 5)
						green4Score.innerHTML = "1";
					if(i4 == 10)
						green4Score.innerHTML = "2";
					if(i4 == 15)
						green4Score.innerHTML = "3";
					if(i4 == 20)
						green4Score.innerHTML = "4";
					if(i4 == 25)
						green4Score.innerHTML = "5";
					if(i4 == 30)
						green4Score.innerHTML = "6";
					if(i4 == 35)
						green4Score.innerHTML = "7";
					if(i4 == 40)
						green4Score.innerHTML = "8";
					if(i4 == 45)
						green4Score.innerHTML = "9";
					if(i4 == 50)
						green4Score.innerHTML = "10";
					if(i4 == 55)
						green4Score.innerHTML = "11";
					if(i4 == 60)
						green4Score.innerHTML = "12";
					if(i4 == 65)
						green4Score.innerHTML = "13";
					if(i4 == 70)
						green4Score.innerHTML = "14";
					if(i4 == 75)
						green4Score.innerHTML = "15";
					if(i4 == 80)
						green4Score.innerHTML = "16";
					if(i4 == 85)
						green4Score.innerHTML = "17";
					if(i4 == 90)
						green4Score.innerHTML = "18";
					if(i4 == 95)
						green4Score.innerHTML = "19";
					if(i4 == 100)
						green4Score.innerHTML = "20";
					if(i4 == 105)
						green4Score.innerHTML = "21";
					if(i4 == 110)
						green4Score.innerHTML = "22";
					if(i4 == 115)
						green4Score.innerHTML = "23";
					if(i4 == 120)
						green4Score.innerHTML = "24";
					if(i4 == 125)
						green4Score.innerHTML = "25";
					if(i4 == 130)
						green4Score.innerHTML = "26";
					if(i4 == 135)
						green4Score.innerHTML = "27";
					if(i4 == 140)
						green4Score.innerHTML = "28";
					if(i4 == 145)
						green4Score.innerHTML = "29";
					if(i4 == 150)
						green4Score.innerHTML = "30";
				}

				i5 = i1 + i2;
				if(i5 == 5)
					redTotal.innerHTML = "1";
				if(i5 == 10)
					redTotal.innerHTML = "2";
				if(i5 == 15)
					redTotal.innerHTML = "3";
				if(i5 == 20)
					redTotal.innerHTML = "4";
				if(i5 == 25)
					redTotal.innerHTML = "5";
				if(i5 == 30)
					redTotal.innerHTML = "6";
				if(i5 == 35)
					redTotal.innerHTML = "7";
				if(i5 == 40)
					redTotal.innerHTML = "8";
				if(i5 == 45)
					redTotal.innerHTML = "9";
				if(i5 == 50)
					redTotal.innerHTML = "10";
				if(i5 == 55)
					redTotal.innerHTML = "11";
				if(i5 == 60)
					redTotal.innerHTML = "12";
				if(i5 == 65)
					redTotal.innerHTML = "13";
				if(i5 == 70)
					redTotal.innerHTML = "14";
				if(i5 == 75)
					redTotal.innerHTML = "15";
				if(i5 == 80)
					redTotal.innerHTML = "16";
				if(i5 == 85)
					redTotal.innerHTML = "17";
				if(i5 == 90)
					redTotal.innerHTML = "18";
				if(i5 == 95)
					redTotal.innerHTML = "19";
				if(i5 == 100)
					redTotal.innerHTML = "20";
				if(i5 == 105)
					redTotal.innerHTML = "21";
				if(i5 == 110)
					redTotal.innerHTML = "22";
				if(i5 == 115)
					redTotal.innerHTML = "23";
				if(i5 == 120)
					redTotal.innerHTML = "24";
				if(i5 == 125)
					redTotal.innerHTML = "25";
				if(i5 == 130)
					redTotal.innerHTML = "26";
				if(i5 == 135)
					redTotal.innerHTML = "27";
				if(i5 == 140)
					redTotal.innerHTML = "28";
				if(i5 == 145)
					redTotal.innerHTML = "29";
				if(i5 == 150)
					redTotal.innerHTML = "30";
				if(i5 == 155)
					redTotal.innerHTML = "31";
				if(i5 == 160)
					redTotal.innerHTML = "32";
				if(i5 == 165)
					redTotal.innerHTML = "33";
				if(i5 == 170)
					redTotal.innerHTML = "34";
				if(i5 == 175)
					redTotal.innerHTML = "35";
				if(i5 == 180)
					redTotal.innerHTML = "36";
				if(i5 == 185)
					redTotal.innerHTML = "37";
				if(i5 == 190)
					redTotal.innerHTML = "38";
				if(i5 == 195)
					redTotal.innerHTML = "39";
				if(i5 == 200)
					redTotal.innerHTML = "40";
				if(i5 == 205)
					redTotal.innerHTML = "41";
				if(i5 == 210)
					redTotal.innerHTML = "42";
				if(i5 == 215)
					redTotal.innerHTML = "43";
				if(i5 == 220)
					redTotal.innerHTML = "44";
				if(i5 == 225)
					redTotal.innerHTML = "45";
				if(i5 == 230)
					redTotal.innerHTML = "46";
				if(i5 == 235)
					redTotal.innerHTML = "47";
				if(i5 == 240)
					redTotal.innerHTML = "48";
				if(i5 == 245)
					redTotal.innerHTML = "49";
				if(i5 == 250)
					redTotal.innerHTML = "50";
				if(i5 == 255)
					redTotal.innerHTML = "51";
				if(i5 == 260)
					redTotal.innerHTML = "52";
				if(i5 == 265)
					redTotal.innerHTML = "53";
				if(i5 == 270)
					redTotal.innerHTML = "54";
				if(i5 == 275)
					redTotal.innerHTML = "55";
				if(i5 == 280)
					redTotal.innerHTML = "56";
				if(i5 == 285)
					redTotal.innerHTML = "57";
				if(i5 == 290)
					redTotal.innerHTML = "58";
				if(i5 == 295)
					redTotal.innerHTML = "59";
				if(i5 == 300)
					redTotal.innerHTML = "60";
				
				i6 = i3 + i4;
				if(i6 == 5)
					greenTotal.innerHTML = "1";
				if(i6 == 10)
					greenTotal.innerHTML = "2";
				if(i6 == 15)
					greenTotal.innerHTML = "3";
				if(i6 == 20)
					greenTotal.innerHTML = "4";
				if(i6 == 25)
					greenTotal.innerHTML = "5";
				if(i6 == 30)
					greenTotal.innerHTML = "6";
				if(i6 == 35)
					greenTotal.innerHTML = "7";
				if(i6 == 40)
					greenTotal.innerHTML = "8";
				if(i6 == 45)
					greenTotal.innerHTML = "9";
				if(i6 == 50)
					greenTotal.innerHTML = "10";
				if(i6 == 55)
					greenTotal.innerHTML = "11";
				if(i6 == 60)
					greenTotal.innerHTML = "12";
				if(i6 == 65)
					greenTotal.innerHTML = "13";
				if(i6 == 70)
					greenTotal.innerHTML = "14";
				if(i6 == 75)
					greenTotal.innerHTML = "15";
				if(i6 == 80)
					greenTotal.innerHTML = "16";
				if(i6 == 85)
					greenTotal.innerHTML = "17";
				if(i6 == 90)
					greenTotal.innerHTML = "18";
				if(i6 == 95)
					greenTotal.innerHTML = "19";
				if(i6 == 100)
					greenTotal.innerHTML = "20";
				if(i6 == 105)
					greenTotal.innerHTML = "21";
				if(i6 == 110)
					greenTotal.innerHTML = "22";
				if(i6 == 115)
					greenTotal.innerHTML = "23";
				if(i6 == 120)
					greenTotal.innerHTML = "24";
				if(i6 == 125)
					greenTotal.innerHTML = "25";
				if(i6 == 130)
					greenTotal.innerHTML = "26";
				if(i6 == 135)
					greenTotal.innerHTML = "27";
				if(i6 == 140)
					greenTotal.innerHTML = "28";
				if(i6 == 145)
					greenTotal.innerHTML = "29";
				if(i6 == 150)
					greenTotal.innerHTML = "30";
				if(i6 == 155)
					greenTotal.innerHTML = "31";
				if(i6 == 160)
					greenTotal.innerHTML = "32";
				if(i6 == 165)
					greenTotal.innerHTML = "33";
				if(i6 == 170)
					greenTotal.innerHTML = "34";
				if(i6 == 175)
					greenTotal.innerHTML = "35";
				if(i6 == 180)
					greenTotal.innerHTML = "36";
				if(i6 == 185)
					greenTotal.innerHTML = "37";
				if(i6 == 190)
					greenTotal.innerHTML = "38";
				if(i6 == 195)
					greenTotal.innerHTML = "39";
				if(i6 == 200)
					greenTotal.innerHTML = "40";
				if(i6 == 205)
					greenTotal.innerHTML = "41";
				if(i6 == 210)
					greenTotal.innerHTML = "42";
				if(i6 == 215)
					greenTotal.innerHTML = "43";
				if(i6 == 220)
					greenTotal.innerHTML = "44";
				if(i6 == 225)
					greenTotal.innerHTML = "45";
				if(i6 == 230)
					greenTotal.innerHTML = "46";
				if(i6 == 235)
					greenTotal.innerHTML = "47";
				if(i6 == 240)
					greenTotal.innerHTML = "48";
				if(i6 == 245)
					greenTotal.innerHTML = "49";
				if(i6 == 250)
					greenTotal.innerHTML = "50";
				if(i6 == 255)
					greenTotal.innerHTML = "51";
				if(i6 == 260)
					greenTotal.innerHTML = "52";
				if(i6 == 265)
					greenTotal.innerHTML = "53";
				if(i6 == 270)
					greenTotal.innerHTML = "54";
				if(i6 == 275)
					greenTotal.innerHTML = "55";
				if(i6 == 280)
					greenTotal.innerHTML = "56";
				if(i6 == 285)
					greenTotal.innerHTML = "57";
				if(i6 == 290)
					greenTotal.innerHTML = "58";
				if(i6 == 295)
					greenTotal.innerHTML = "59";
				if(i6 == 300)
					greenTotal.innerHTML = "60";

				numEvents -= 1;
				testVar = numEvents % 5;
				if(testVar == 0){
					i += 1;
					a = i;
				}
			}
		}
		else{
			red_points = i5 / 5;
			green_points = i6 / 5;
			final_score = "Red points: " + red_points + " vs  " + "Green points: " + green_points;
			event.innerHTML = final_score;
			countDownTime = countDownTime - 1;
		}
		counter.innerHTML = countDownTime2;
		countDownTime2 = countDownTime2 - 1;
	}, 1000);

	  setTimeout(function loadPlayers() {
		request = new XMLHttpRequest();

		request.open('GET', '/getPlayers',true);

		request.responseType = 'json';

		request.send();

		request.onload = function(){
			let requestObj = request.response;

			var red1ID = requestObj.red1ID;
			if (red1ID != null)
				document.getElementById('red1ID').innerHTML = red1ID;

			var red2ID = requestObj.red2ID;
			if (red2ID != null)
				document.getElementById('red2ID').innerHTML = red2ID;

			var red1Code = requestObj.red1Code;
			if (red1Code != null)
				document.getElementById('red1Code').innerHTML = red1Code;

			var red2Code = requestObj.red2Code;
			if (red2Code != null)
				document.getElementById('red2Code').innerHTML = red2Code;

			var green1ID = requestObj.green1ID;
			if (green1ID != null)
				document.getElementById('green1ID').innerHTML = green1ID;

			var green2ID = requestObj.green2ID;
			if (green2ID != null)
				document.getElementById('green2ID').innerHTML = green2ID;

			var green1Code = requestObj.green1Code;
			if (green1Code != null)
				document.getElementById('green1Code').innerHTML = green1Code;

			var green2Code = requestObj.green2Code;
			if (green2Code != null)
				document.getElementById('green2Code').innerHTML = green2Code;
			
				var ListOfEvents = requestObj.events;
				tempLen = ListOfEvents.length;
				ListOfEvents = ListOfEvents.slice(2);
				ListOfEvents = ListOfEvents.substr(0, tempLen - 1);
				events = ListOfEvents.split(" , ");
				eventsLen = events.length;
				console.log(events)

				redPoints = requestObj.redPoints;
				let redLen = redPoints.length;
				redPoints = redPoints.substr(0, redLen - 1);
				redPoints = redPoints.slice(2);

				greenPoints = requestObj.greenPoints;
				let greenLen = greenPoints.length;
				greenPoints = greenPoints.substr(0, greenLen - 1);
				greenPoints = greenPoints.slice(2);
		}
	  }, 5000);

      </script>

			
		
	
	</body>
</html>
