<!DOCTYPE html>
<html lang="en" id = "next";>
	<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<title>Entry Terminal</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
		}
		
		.box1 { 
			width: 250px; 
			height: 22px; 
			background: dimgray;
			padding: 3px;			
		}
		
		.box2 { 
			width: 110px; 
			height: 85px; 
			border: 1px solid lightgray;
			text-align:center;
			padding: 3px;
		}
		
		.box3 {  
			height: 25px;
			text-align:center;
			background: lightgray; 
			padding: 3px
		}
		
		.column {
			float: left;
			width: 50%;
			padding: 3px;
		}
		
		.column2 {
			float: left;
			width: 8.33%;
			padding: 3px;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		
		h2{
			padding: 5px;
			margin: 0px;
		}
		
		p{
			padding: 5px;
			margin: 0px;
		}
	</style>
	<body style="background-color:black">
	<form name="playerForm">
		<!-- Header -->
		<h1 style="text-align:center;color:white">Edit Current Game</h1>
		
		<!-- Team Names, Red Player 1 and Green Player 1 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<!-- Red Team Name -->
					<h2 style="color:white">RED TEAM</h2>
					
					<p style= "color:white">ID &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Code Name</p>					
					<label for="red1" style="font-size:115%;color:white"> 1: </label>
					<input id="red1id" name="1redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red1code" name="1redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<!-- Green Team Name -->
					<h2 style="color:white">GREEN TEAM</h2>
					
					<p style= "color:white">ID &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Code Name</p>		
					<label for="green1" style="font-size:115%;color:white">1: </label>
					<input id="green1id" name="1greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green1code" name="1greenCode" type="text" value="" size="30" style="font-size:115%">

				</center>
			</div>
		</div>
		
		<!-- Red Player 2 and Green Player 2 -->
		 <div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red2" style="font-size:115%;color:white">2: </label>
					<input id="red2id" name="2redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red2code" name="2redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green2" style="font-size:115%;color:white"> 2: </label>
					<input id="green2id" name="2greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green2code" name="2greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 3 and Green Player 3 -->
		 <div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red3" style="font-size:115%;color:white">3: </label>
					<input id="red3id" name="3redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red3code" name="3redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green3" style="font-size:115%;color:white">3: </label>
					<input id="green3id" name="3greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green3code" name="3greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		 </div>
		
		<!-- Red Player 4 and Green Player 4 -->
		 <div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red4" style="font-size:115%;color:white">4: </label>
					<input id="red4id" name="4redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red4code" name="4redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green4" style="font-size:115%;color:white">4: </label>
					<input id="green4id" name="4greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green4code" name="4greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 5 and Green Player 5 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red5" style="font-size:115%;color:white">5: </label>
					<input id="red5id" name="5redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red5code" name="5redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green5" style="font-size:115%;color:white">5: </label>
					<input id="green5id" name="5greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green5code" name="5greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div> 
	
		<!-- Red Player 6 and Green Player 6 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red6" style="font-size:115%;color:white">6: </label>
					<input id="red6id" name="6redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red6code" name="6redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green6" style="font-size:115%;color:white">6: </label>
					<input id="green6id" name="6greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green6code" name="6greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 7 and Green Player 7 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red7" style="font-size:115%;color:white">7: </label>
					<input id="red7id" name="7redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red7code" name="7redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green7" style="font-size:115%;color:white">7: </label>
					<input id="green7id" name="7greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green7code" name="7greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		<!-- Red Player 8 and Green Player 8 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red8" style="font-size:115%;color:white">8: </label>
					<input id="red8id" name="8redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red8code" name="8redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green8" style="font-size:115%;color:white">8: </label>
					<input id="green8id" name="8greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green8code" name="8greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 9 and Green Player 9 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red9" style="font-size:115%;color:white">9: </label>
					<input id="red9id" name="9redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red9code" name="9redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green9" style="font-size:115%;color:white">9: </label>
					<input id="green9id" name="9greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green9code" name="9greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 10 and Green Player 10 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red10" style="font-size:115%;color:white">10: </label>
					<input id="red10id" name="10redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red10code" name="10redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green10" style="font-size:115%;color:white">10: </label>
					<input id="green10id" name="10greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green10code" name="10greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 11 and Green Player 11 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red11" style="font-size:115%;color:white">11: </label>
					<input id="red11id" name="11redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red11code" name="11redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green11" style="font-size:115%;color:white">11: </label>
					<input id="green11id" name="11greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green11code" name="11greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 12 and Green Player 12 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red12" style="font-size:115%;color:white">12: </label>
					<input id="red12id" name="12redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red12code" name="12redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green12" style="font-size:115%;color:white">12: </label>
					<input id="green12id" name="12greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green12code" name="12greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 13 and Green Player 13 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red13" style="font-size:115%;color:white">13: </label>
					<input id="red13id" name="13redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red13code" name="13redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green13" style="font-size:115%;color:white">13: </label>
					<input id="green13id" name="13greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green13code" name="13greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 14 and Green Player 14 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red14" style="font-size:115%;color:white">14: </label>
					<input id="red14id" name="14redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red14code" name="14redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green14" style="font-size:115%;color:white">14: </label>
					<input id="green14id" name="14greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green14code" name="14greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 15 and Green Player 15 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red15" style="font-size:115%;color:white">15: </label>
					<input id="red15id" name="15redID" type="text" value="" size="20" style="font-size:115%">
					<input id="red15code" name="15redCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green15" style="font-size:115%;color:white">15: </label>
					<input id="green15id" name="15greenID" type="text" value="" size="20" style="font-size:115%">
					<input id="green15code" name="15greenCode" type="text" value="" size="30" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Game Mode -->
		<center>
				<div class="box1" style="font-size:90%;color:white">Game Mode: Standard public mode</div>
				<!--<input type="button" value="Enter" onclick="playerAdd(this.form)"/><br>-->
		</center>
		
		<!-- Buttons -->
		<div class="row">
		
			<!-- F1 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F1 <br> Edit <br> Game</div>
			</div>
			
			<!-- F2 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F2 <br> Game <br> Parameters</div>
			</div>
			
			<!-- F3 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F3 <br> PreEntered <br> Games</div>
			</div>
			
			<!-- F4 -->
			<div class="column2">
				
			</div>
			
			<!-- F5 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F5 <br> Start <br> Game</div>
			</div>
			
			<!-- F6 -->
			<div class="column2">
				
			</div>
			
			<!-- F7 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F7</div>
			</div>
			
			<!-- F8 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F8 <br> View <br> Game</div>
			</div>
			
			<!-- F9 -->
			<div class="column2">
				
			</div>
			
			<!-- F10 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F10 <br> Flick <br> Sync</div>
			</div>
			
			<!-- F11 -->
			<div class="column2"> 
				
			</div>
			
			<!-- F12 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F12 <br> Clear <br> Game</div>
			</div>
			
		</div>
	</form> 
		<!-- Bottom Note -->
		<div class="box3">Enter User ID Number, Press &lt;Enter&gt; to submit entries, Enter Code Name if not found, Press &lt;Tab&gt; to move to next field</div>
	</body>
		<script>
		
			document.addEventListener('keydown',function(event){
			if(event.keyCode==13){ 
				event.preventDefault();
				playerAdd(document.querySelector('form'));
			}
			if(event.keyCode==116){ 
				event.preventDefault();
				window.location.replace('http://127.0.0.1:5000/ActionScreen')
			}
			});
			
			
			function playerAdd(form){
				var red1id = form.red1id.value;
				var red1Code = form.red1code.value;
				
				var red2id = form.red2id.value;
				var red2Code = form.red2code.value;

				var red3id = form.red3id.value;
				var red3Code = form.red3code.value;

				var red4id = form.red4id.value;
				var red4Code = form.red4code.value;

				var red5id = form.red5id.value;
				var red5Code = form.red5code.value;

				var red6id = form.red6id.value;
				var red6Code = form.red6code.value;

				var red7id = form.red7id.value;
				var red7Code = form.red7code.value;

				var red8id = form.red8id.value;
				var red8Code = form.red8code.value;

				var red9id = form.red9id.value;
				var red9Code = form.red9code.value;

				var red10id = form.red10id.value;
				var red10Code = form.red10code.value;

				var red11id = form.red11id.value;
				var red11Code = form.red11code.value;

				var red12id = form.red12id.value;
				var red12Code = form.red12code.value;

				var red13id = form.red13id.value;
				var red13Code = form.red13code.value;

				var red14id = form.red14id.value;
				var red14Code = form.red14code.value;

				var red15id = form.red15id.value;
				var red15Code = form.red15code.value;

				var green1id = form.green1id.value;
				var green1Code = form.green1code.value;

				var green2id = form.green2id.value;
				var green2Code = form.green2code.value;

				var green3id = form.green3id.value;
				var green3Code = form.green3code.value;

				var green4id = form.green4id.value;
				var green4Code = form.green4code.value;

				var green5id = form.green5id.value;
				var green5Code = form.green5code.value;

				var green6id = form.green6id.value;
				var green6Code = form.green6code.value;

				var green7id = form.green7id.value;
				var green7Code = form.green7code.value;

				var green8id = form.green8id.value;
				var green8Code = form.green8code.value;

				var green9id = form.green9id.value;
				var green9Code = form.green9code.value;

				var green10id = form.green10id.value;
				var green10Code = form.green10code.value;

				var green11id = form.green11id.value;
				var green11Code = form.green11code.value;

				var green12id = form.green12id.value;
				var green12Code = form.green12code.value;

				var green13id = form.green13id.value;
				var green13Code = form.green13code.value;

				var green14id = form.green14id.value;
				var green14Code = form.green14code.value;

				var green15id = form.green15id.value;
				var green15Code = form.green15code.value;

				var red1 = {
					red1ID : red1id,
					red1Code : red1Code
				};

				var red2 = {
					red2ID : red2id,
					red2Code : red2Code
				};

				var red3 = {
					red3ID : red3id,
					red3Code : red3Code
				};

				var red4 = {
					red4ID : red4id,
					red4Code : red4Code
				};

				var red5 = {
					red5ID : red5id,
					red5Code : red5Code
				};

				var red6 = {
					red6ID : red6id,
					red6Code : red6Code
				};

				var red7 = {
					red7ID : red7id,
					red7Code : red7Code
				};

				var red8 = {
					red8ID : red8id,
					red8Code : red8Code
				};

				var red9 = {
					red9ID : red9id,
					red9Code : red9Code
				};

				var red10 = {
					red10ID : red10id,
					red10Code : red10Code
				};

				var red11 = {
					red11ID : red11id,
					red11Code : red11Code
				};

				var red12 = {
					red12ID : red12id,
					red12Code : red12Code
				};

				var red13 = {
					red13ID : red13id,
					red13Code : red13Code
				};

				var red14 = {
					red14ID : red14id,
					red14Code : red14Code
				};

				var red15 = {
					red15ID : red15id,
					red15Code : red15Code
				};

				var green1 = {
					green1ID : green1id,
					green1Code : green1Code
				};
				
				var green2 = {
					green2ID : green2id,
					green2Code : green2Code
				};

				var green3 = {
					green3ID : green3id,
					green3Code : green3Code
				};

				var green4 = {
					green4ID : green4id,
					green4Code : green4Code
				};

				var green5 = {
					green5ID : green5id,
					green5Code : green5Code
				};

				var green6 = {
					green6ID : green6id,
					green6Code : green6Code
				};

				var green7 = {
					green7ID : green7id,
					green7Code : green7Code
				};

				var green8 = {
					green8ID : green8id,
					green8Code : green8Code
				};

				var green9 = {
					green9ID : green9id,
					green9Code : green9Code
				};

				var green10 = {
					green10ID : green10id,
					green10Code : green10Code
				};

				var green11 = {
					green11ID : green11id,
					green11Code : green11Code
				};

				var green12 = {
					green12ID : green12id,
					green12Code : green12Code
				};

				var green13 = {
					green13ID : green13id,
					green13Code : green13Code
				};

				var green14 = {
					green14ID : green14id,
					green14Code : green14Code
				};

				var green15 = {
					green15ID : green15id,
					green15Code : green15Code
				};

				var players = Object.assign({}, red1, green1, red2, green2, red3, green3, red4, green4, red5, green5, red6, green6, red7, green7, red8, green8, red9, green9, red10, green10, red11, green11, red12, green12, red13, green13, red14, green14, red15, green15);

				connection = new XMLHttpRequest();
			
				connection.open('POST', '/submit', true);

				connection.onload = function(){
					var data = JSON.parse(this.responseText);
				};

				sendingData = JSON.stringify(players);
				connection.send(sendingData);
			}
	</script>
</html>
