<!DOCTYPE html>
<html lang="en" id = "next";>
	<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<title>Entry Terminal</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
		}
		
		.box1 { 
			width: 250px; 
			height: 22px; 
			background: dimgray;
			padding: 3px;			
		}
		
		.box2 { 
			width: 250px; 
			height: 50px; 
			border: 1px solid lightgray;
			text-align:center;
			padding: 10px;
		}
		
		.box3 {  
			height: 35px;
			text-align:center;
			background: lightgray; 
			padding: 4px
		}
		
		.column {
			float: left;
			width: 50%;
			padding: 3px;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		
		h2{
			padding: 5px;
			margin: 0px;
		}
		
		p{
			padding: 5px;
			margin: 0px;
		}
	</style>
	<body style="background-color:black">
	<form name="playerForm">
		<!-- Header -->
		<h1 style="text-align:center;color:white">Edit Current Game</h1>
		
		<!-- Team Names, Red Player 1 and Green Player 1 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<!-- Red Team Name -->
					<h2 style="color:white">RED TEAM</h2>
					
					<p style= "font-size:125%;color:white">Code Name</p>					
					<label for="red1" style="font-size:125%;color:white"> 1: </label>
					<input id="red1code" name="1redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<!-- Green Team Name -->
					<h2 style="color:white">GREEN TEAM</h2>
					
					<p style= "font-size:125%;color:white">Code Name</p>		
					<label for="green1" style="font-size:125%;color:white">1: </label>
					<input id="green1code" name="1greenCode" type="text" value="" size="30" style="font-size:125%">

				</center>
			</div>
		</div>
		
		<!-- Red Player 2 and Green Player 2 -->
		 <div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red2" style="font-size:125%;color:white">2: </label>
					<input id="red2code" name="2redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green2" style="font-size:125%;color:white"> 2: </label>
					<input id="green2code" name="2greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 3 and Green Player 3 -->
		 <div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red3" style="font-size:125%;color:white">3: </label>
					<input id="red3code" name="3redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green3" style="font-size:125%;color:white">3: </label>
					<input id="green3code" name="3greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		 </div>
		
		<!-- Red Player 4 and Green Player 4 -->
		 <div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red4" style="font-size:125%;color:white">4: </label>
					<input id="red4code" name="4redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green4" style="font-size:125%;color:white">4: </label>
					<input id="green4code" name="4greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 5 and Green Player 5 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red5" style="font-size:125%;color:white">5: </label>
					<input id="red5code" name="5redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green5" style="font-size:125%;color:white">5: </label>
					<input id="green5code" name="5greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div> 
	
		<!-- Red Player 6 and Green Player 6 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red6" style="font-size:125%;color:white">6: </label>
					<input id="red6code" name="6redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green6" style="font-size:125%;color:white">6: </label>
					<input id="green6code" name="6greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 7 and Green Player 7 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red7" style="font-size:125%;color:white">7: </label>
					<input id="red7code" name="7redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green7" style="font-size:125%;color:white">7: </label>
					<input id="green7code" name="7greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		<!-- Red Player 8 and Green Player 8 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red8" style="font-size:125%;color:white">8: </label>
					<input id="red8code" name="8redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green8" style="font-size:125%;color:white">8: </label>
					<input id="green8code" name="8greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 9 and Green Player 9 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red9" style="font-size:125%;color:white">9: </label>
					<input id="red9code" name="9redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green9" style="font-size:125%;color:white">9: </label>
					<input id="green9code" name="9greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 10 and Green Player 10 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red10" style="font-size:125%;color:white">10: </label>
					<input id="red10code" name="10redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green10" style="font-size:125%;color:white">10: </label>
					<input id="green10code" name="10greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 11 and Green Player 11 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red11" style="font-size:125%;color:white">11: </label>
					<input id="red11code" name="11redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green11" style="font-size:125%;color:white">11: </label>
					<input id="green11code" name="11greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 12 and Green Player 12 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red12" style="font-size:125%;color:white">12: </label>
					<input id="red12code" name="12redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green12" style="font-size:125%;color:white">12: </label>
					<input id="green12code" name="12greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 13 and Green Player 13 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red13" style="font-size:125%;color:white">13: </label>
					<input id="red13code" name="13redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green13" style="font-size:125%;color:white">13: </label>
					<input id="green13code" name="13greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 14 and Green Player 14 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red14" style="font-size:125%;color:white">14: </label>
					<input id="red14code" name="14redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green14" style="font-size:125%;color:white">14: </label>
					<input id="green14code" name="14greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 15 and Green Player 15 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red15" style="font-size:125%;color:white">15: </label>
					<input id="red15code" name="15redCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green15" style="font-size:125%;color:white">15: </label>
					<input id="green15code" name="15greenCode" type="text" value="" size="30" style="font-size:125%">
					
				</center>
			</div>
		</div>
		
		<!-- Game Mode (Removed) -->
		<!-- <center>
				<div class="box1" style="font-size:90%;color:white">Game Mode: Standard public mode</div>
				<input type="button" value="Enter" onclick="playerAdd(this.form)"/><br>
		</center> -->
		
		<!-- Buttons (Removed) -->

	</form>
		<!-- Entry Instructions -->
		<div class="box3" style="font-size:130%;">Enter User ID Number, Press &lt;Enter&gt; to submit entries, Enter Code Name if not found, Press &lt;Tab&gt; to move to next field</div>
		
		<p style = "font-size:50%"> <br> </p>
		
		<!-- Start Game Instruction -->
		<center>
			<div class="box2" style="font-size:130%;color:limegreen">Press &lt;F5&gt; to start game</div>
		</center>
		
	</body>
		<script>
		
			document.addEventListener('keydown',function(event){
			if(event.keyCode==13){ 
				event.preventDefault();
				playerAdd(document.querySelector('form'));
			}
			if(event.keyCode==116){ 
				event.preventDefault();
				window.location.replace('http://127.0.0.1:5000/ActionScreen')
			}
			});
			
			
			function playerAdd(form){
				var red1id = 1;
				var red1Code = form.red1code.value;
				
				var red2id = 2;
				var red2Code = form.red2code.value;

				var green1id = 3;
				var green1Code = form.green1code.value;

				var green2id = 4;
				var green2Code = form.green2code.value;

				var red1 = {
					red1ID : red1id,
					red1Code : red1Code
				};

				var red2 = {
					red2ID : red2id,
					red2Code : red2Code
				};

				var green1 = {
					green1ID : green1id,
					green1Code : green1Code
				};
				
				var green2 = {
					green2ID : green2id,
					green2Code : green2Code
				};

				var players = Object.assign({}, red1, green1, red2, green2);

				connection = new XMLHttpRequest();
			
				connection.open('POST', '/submit', true);
				connection.onload = function(){
					var data = JSON.parse(this.responseText);
				};

				sendingData = JSON.stringify(players);
				connection.send(sendingData);
			}
	</script>
</html>
