<!DOCTYPE html>
<html>
	<head>
		<title>Entry Terminal</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
		}
		
		.box1 { 
			width: 250px; 
			height: 22px; 
			background: dimgray;
			padding: 3px;			
		}
		
		.box2 { 
			width: 110px; 
			height: 90px; 
			border: 1px solid lightgray;
			text-align:center;
			padding: 3px;
		}
		
		.box3 {  
			height: 25px;
			text-align:center;
			background: lightgray; 
			padding: 3px
		}
		
		.column {
			float: left;
			width: 50%;
			padding: 3px;
		}
		
		.column2 {
			float: left;
			width: 8.33%;
			padding: 3px;
		}
		
		.row::after {
			content: "";
			clear: both;
			display: table;
		}
		
		h2{
			padding: 5px;
			margin: 0px;
		}
		
		p{
			padding: 5px;
			margin: 0px;
		}
	</style>
	<body style="background-color:black"
	
		<!-- Header -->
		<h1 style="text-align:center;color:white">Edit Current Game</h1>
		
		<!-- Team Names, Red Player 1 and Green Player 1 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<!-- Red Team Name -->
					<h2 style="color:white">Red Team</h2>
					
					<p style= "color:white">Code Name &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; First Name &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Last Name</p>
					<label for="red1" style="font-size:115%;color:white"> 1: </label>
					<input type="text" id="red1code" name="red1code" type="text" value="" size="15" style="font-size:115%">
					<input type="text" id="red1fname" name="red1fname" type="text" value="" size="15" style="font-size:115%">
					<input type="text" id="red1lname" name="red1lname" type="text" value="" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<!-- Green Team Name -->
					<h2 style="color:white">Green Team</h2>
					
					<p style= "color:white">Code Name &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; First Name &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Last Name</p>
					<label for="green1" style="font-size:115%;color:white">1: </label>
					<input type="text" id="green1code" name="green1code" type="text" value="" size="15" style="font-size:115%">
					<input type="text" id="green1fname" name="green1fname" type="text" value="" size="15" style="font-size:115%">
					<input type="text" id="green1lname" name="green1lname" type="text" value="" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 2 and Green Player 2 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red2" style="font-size:115%;color:white">2: </label>
					<input type="text" id="red2code" name="red2code" size="15" style="font-size:115%">
					<input type="text" id="red2fname" name="red2fname" size="15" style="font-size:115%">
					<input type="text" id="red2lname" name="red2lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green2" style="font-size:115%;color:white"> 2: </label>
					<input type="text" id="green2code" name="green2code" size="15" style="font-size:115%">
					<input type="text" id="green2fname" name="green2fname" size="15" style="font-size:115%">
					<input type="text" id="green2lname" name="green2lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 3 and Green Player 3 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red3" style="font-size:115%;color:white">3: </label>
					<input type="text" id="red3code" name="red3code" size="15" style="font-size:115%">
					<input type="text" id="red3fname" name="red3fname" size="15" style="font-size:115%">
					<input type="text" id="red3lname" name="red3lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green3" style="font-size:115%;color:white">3: </label>
					<input type="text" id="green3code" name="green3code" size="15" style="font-size:115%">
					<input type="text" id="green3fname" name="green3fname" size="15" style="font-size:115%">
					<input type="text" id="green3lname" name="green3lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 4 and Green Player 4 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red4" style="font-size:115%;color:white">4: </label>
					<input type="text" id="red4code" name="red4code" size="15" style="font-size:115%">
					<input type="text" id="red4fname" name="red4fname" size="15" style="font-size:115%">
					<input type="text" id="red4lname" name="red4lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green4" style="font-size:115%;color:white">4: </label>
					<input type="text" id="green4code" name="green4code" size="15" style="font-size:115%">
					<input type="text" id="green4fname" name="green4fname" size="15" style="font-size:115%">
					<input type="text" id="green4lname" name="green4lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 5 and Green Player 5 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red5" style="font-size:115%;color:white">5: </label>
					<input type="text" id="red5code" name="red5code" size="15" style="font-size:115%">
					<input type="text" id="red5fname" name="red5fname" size="15" style="font-size:115%">
					<input type="text" id="red5lname" name="red5lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green5" style="font-size:115%;color:white">5: </label>
					<input type="text" id="green5code" name="green5code" size="15" style="font-size:115%">
					<input type="text" id="green5fname" name="green5fname" size="15" style="font-size:115%">
					<input type="text" id="green5lname" name="green5lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 6 and Green Player 6 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red6" style="font-size:115%;color:white">6: </label>
					<input type="text" id="red6code" name="red6code" size="15" style="font-size:115%">
					<input type="text" id="red6fname" name="red6fname" size="15" style="font-size:115%">
					<input type="text" id="red6lname" name="red6lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green6" style="font-size:115%;color:white">6: </label>
					<input type="text" id="green6code" name="green6code" size="15" style="font-size:115%">
					<input type="text" id="green6fname" name="green6fname" size="15" style="font-size:115%">
					<input type="text" id="green6lname" name="green6lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 7 and Green Player 7 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red7" style="font-size:115%;color:white">7: </label>
					<input type="text" id="red7code" name="red7code" size="15" style="font-size:115%">
					<input type="text" id="red7fname" name="red7fname" size="15" style="font-size:115%">
					<input type="text" id="red7lname" name="red7lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green7" style="font-size:115%;color:white">7: </label>
					<input type="text" id="green7code" name="green7code" size="15" style="font-size:115%">
					<input type="text" id="green7fname" name="green7fname" size="15" style="font-size:115%">
					<input type="text" id="green7lname" name="green7lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 8 and Green Player 8 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red8" style="font-size:115%;color:white">8: </label>
					<input type="text" id="red8code" name="red8code" size="15" style="font-size:115%">
					<input type="text" id="red8fname" name="red8fname" size="15" style="font-size:115%">
					<input type="text" id="red8lname" name="red8lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green8" style="font-size:115%;color:white">8: </label>
					<input type="text" id="green8code" name="green8code" size="15" style="font-size:115%">
					<input type="text" id="green8fname" name="green8fname" size="15" style="font-size:115%">
					<input type="text" id="green8lname" name="green8lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 9 and Green Player 9 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red9" style="font-size:115%;color:white">9: </label>
					<input type="text" id="red9code" name="red9code" size="15" style="font-size:115%">
					<input type="text" id="red9fname" name="red9fname" size="15" style="font-size:115%">
					<input type="text" id="red9lname" name="red9lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green9" style="font-size:115%;color:white">9: </label>
					<input type="text" id="green9code" name="green9code" size="15" style="font-size:115%">
					<input type="text" id="green9fname" name="green9fname" size="15" style="font-size:115%">
					<input type="text" id="green9lname" name="green9lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
	
		<!-- Red Player 10 and Green Player 10 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red10" style="font-size:115%;color:white">10: </label>
					<input type="text" id="red10code" name="red10code" size="15" style="font-size:115%">
					<input type="text" id="red10fname" name="red10fname" size="15" style="font-size:115%">
					<input type="text" id="red10lname" name="red10lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green10" style="font-size:115%;color:white">10: </label>
					<input type="text" id="green10code" name="green10code" size="15" style="font-size:115%">
					<input type="text" id="green10fname" name="green10fname" size="15" style="font-size:115%">
					<input type="text" id="green10lname" name="green10lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 11 and Green Player 11 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red11" style="font-size:115%;color:white">11: </label>
					<input type="text" id="red11code" name="red11code" size="15" style="font-size:115%">
					<input type="text" id="red11fname" name="red11fname" size="15" style="font-size:115%">
					<input type="text" id="red11lname" name="red11lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green11" style="font-size:115%;color:white">11: </label>
					<input type="text" id="green11code" name="green11code" size="15" style="font-size:115%">
					<input type="text" id="green11fname" name="green11fname" size="15" style="font-size:115%">
					<input type="text" id="green11lname" name="green11lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 12 and Green Player 12 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red12" style="font-size:115%;color:white">12: </label>
					<input type="text" id="red12code" name="red12code" size="15" style="font-size:115%">
					<input type="text" id="red12fname" name="red12fname" size="15" style="font-size:115%">
					<input type="text" id="red12lname" name="red12lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green12" style="font-size:115%;color:white">12: </label>
					<input type="text" id="green12code" name="green12code" size="15" style="font-size:115%">
					<input type="text" id="green12fname" name="green12fname" size="15" style="font-size:115%">
					<input type="text" id="green12lname" name="green12lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 13 and Green Player 13 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red13" style="font-size:115%;color:white">13: </label>
					<input type="text" id="red13code" name="red13code" size="15" style="font-size:115%">
					<input type="text" id="red13fname" name="red13fname" size="15" style="font-size:115%">
					<input type="text" id="red13lname" name="red13lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green13" style="font-size:115%;color:white">13: </label>
					<input type="text" id="green13code" name="green13code" size="15" style="font-size:115%">
					<input type="text" id="green13fname" name="green13fname" size="15" style="font-size:115%">
					<input type="text" id="green13lname" name="green13lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 14 and Green Player 14 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red14" style="font-size:115%;color:white">14: </label>
					<input type="text" id="red14code" name="red14code" size="15" style="font-size:115%">
					<input type="text" id="red14fname" name="red14fname" size="15" style="font-size:115%">
					<input type="text" id="red14lname" name="red14lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green14" style="font-size:115%;color:white">14: </label>
					<input type="text" id="green14code" name="green14code" size="15" style="font-size:115%">
					<input type="text" id="green14fname" name="green14fname" size="15" style="font-size:115%">
					<input type="text" id="green14lname" name="green14lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Red Player 15 and Green Player 15 -->
		<div class="row">
			<div class="column" style="background-color:firebrick">
				<center>
					
					<label for="red1" style="font-size:115%;color:white">15: </label>
					<input type="text" id="red15code" name="red15code" size="15" style="font-size:115%">
					<input type="text" id="red15fname" name="red15fname" size="15" style="font-size:115%">
					<input type="text" id="red15lname" name="red15lname" size="15" style="font-size:115%">
					
				</center>
			</div>
			
			<div class="column" style="background-color:seagreen">
				<center>
					
					<label for="green15" style="font-size:115%;color:white">15: </label>
					<input type="text" id="green15code" name="green15code" size="15" style="font-size:115%">
					<input type="text" id="green15fname" name="green15fname" size="15" style="font-size:115%">
					<input type="text" id="green15lname" name="green15lname" size="15" style="font-size:115%">
					
				</center>
			</div>
		</div>
		
		<!-- Game Mode -->
		<center>
				<div class="box1" style="font-size:90%;color:white">Game Mode: Standard public mode</div>
		</center>
		
		<!-- Buttons -->
		<div class="row">
		
			<!-- F1 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F1 <br> Edit <br> Game</div>
			</div>
			
			<!-- F2 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F2 <br> Game <br> Parameters</div>
			</div>
			
			<!-- F3 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F3 <br> Start <br> Game</div>
			</div>
			
			<!-- F4 -->
			<div class="column2">
				
			</div>
			
			<!-- F5 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F5 <br> PreEntered <br> Games</div>
			</div>
			
			<!-- F6 -->
			<div class="column2">
				
			</div>
			
			<!-- F7 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F7</div>
			</div>
			
			<!-- F8 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F8 <br> View <br> Game</div>
			</div>
			
			<!-- F9 -->
			<div class="column2">
				
			</div>
			
			<!-- F10 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F10 <br> Flick <br> Sync</div>
			</div>
			
			<!-- F11 -->
			<div class="column2">
				
			</div>
			
			<!-- F12 -->
			<div class="column2">
				<div class="box2" style="font-size:90%;color:limegreen"><br>F12 <br> Clear <br> Game</div>
			</div>
			<input type="button" value="Enter" onclick="playerAdd(this.form);"/><br>
			
		</div>
		<!-- Bottom Note -->
		<div class="box3">&lt;Del&gt; to Delete Player, &lt;Ins&gt; to Manually Insert, or edit codename</div>
		<script>
			function playerAdd(form){
				var red1ID = 1;
				var red1FirstName = form.red1fname.value;
				var red1LastName = form.red1lname.value;
				var red1CodeName = form.red1code.value;

				var green1ID = 2;
				var green1FirstName = form.green1fname.value;
				var green1LastName = form.green1lname.value;
				var green1CodeName = form.green1code.value;

				var red1 = {
					red1ID : red1ID,
					red1FirstName : red1FirstName,
					red1LastName : red1LastName,
					red1CodeName : red1CodeName
				};

				var green1 = {
					green1ID : green1ID,
					green1FirstName : green1FirstName,
					green1LastName : green1LastName,
					green1CodeName : green1CodeName
				};

				var players = Object.assign({}, red1, green1);

				test = new XMLHttpRequest();
			
				test.open('POST', '/submit', true);

				test.onload = function(){
					var dataSend = JSON.parse(this.responseText);
				};

				console.log(players)

				sendData = JSON.stringify(players);
				test.send(sendData);
			}
	</script>
	</body>
</html>